# ignore anything without a dot
*
!*/
!*.*

*.dSYM
*.exe
test
.DS_Store
*.dat
*.csv
*.bin
*.gz

# CMake build directories have dotted config files (CMakeCache.txt, *.cmake) that would
# otherwise slip through the "anything with a dot" rule above
/build/
/build_*/

